<% provide :title, t("title.login") %>
  <h1>
    <%= t("title.login") %>
  </h1>

  <div>
    <div>
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :email, t(".email") %>
        <%= f.email_field :email, class: "form-control" %>
        
        <%= f.label :password, t(".password")%>
        <%= f.password_field :password, class: "form-control" %>
        
        <%= f.submit t("title.login") , class: "btn btn-primary" %>
      <% end %>

      <p><%= t(".mess") %><%= link_to t("users.new.signup_button"), signup_path %></p>
    </div>
  </div>
